.container-b {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
  padding: 5px;
  margin:0;
  padding: 0;
  max-width: 1200px; /* Adjust the max-width as needed */
}

.row-b {
  display: flex;
  width: 100%;
  margin:2px;
}

.button-cell {
  width: calc(50% - 4px); /* Subtract the gap width */
  height: 45px; /* Uniform height */
  margin: 4px; 
  box-sizing: border-box; /* Include padding and border in width and height */
}

.button {
  height: 100%; /* Fill the container */
  background-color: #fce8e8; /* Set the default background color */
  display: flex;
  align-items: center;
  justify-content: center; /* Center the text horizontally */
  text-decoration: none; /* Remove underline from links */
  transition: background-color 0.3s; /* Add transition for background color */
  border-radius: 5px;
  font-size: small;
}

.button:hover {
  background-color: #ffc5c1; /* Set the hover background color */
}

/* Optional: Style the anchor tag inside the button to inherit button styles */
.button-cell a {
  display: flex;
  color: black;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-decoration: inherit;
}

.aspect-ratio {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 50%;
}

.aspect-ratio iframe {
position: absolute;
width: 100%;
height: 100%;
left: 0;
top: 0;
}

.container-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px; 
}

.item-icon {
  padding: 20px;
}

.container-pdf{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px; 
}

/* 整体滚动条 */
::-webkit-scrollbar {
  width: 5px;               /* 滚动条宽度 */
  height: 5px;              /* 水平滚动条高度 */
}

/* 滚动条轨道 */
::-webkit-scrollbar-track {
  background: #f1f1f1;       /* 轨道背景色 */
  border-radius: 10px;       /* 轨道圆角 */
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  background: #bcb9b9;          /* 滑块颜色 */
  border-radius: 10px;       /* 滑块圆角 */
}

/* 鼠标悬停在滑块上的样式 */
::-webkit-scrollbar-thumb:hover {
  background: #8d7a7a;          /* 悬停时滑块颜色 */
}

/* 滚动条角落 */
::-webkit-scrollbar-corner {
  background: #f1f1f1;       /* 滚动条角落的颜色 */
}